.header {
  width: 80%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #27374D;
  padding: 0 10%;
  font: 1.3rem Inconsolata, monospace;
  background-image: radial-gradient(
    #27374D, black 120%
  );
  text-shadow: 0 0 5px #C8C8C8;
}

.logo {
  font-size: 2rem;
  color: #DDE6ED;
  font-weight: bold;
}

.header ul {
  color: #DDE6ED;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  color: #9DB2BF;
  font: 1.3rem Inconsolata, monospace;
  
}

.header a:hover,
.header a:active,
.header a.active {
  color: #DDE6ED;
}

.badge {
  background-color: #20cc9e;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}
